body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

h1{
    color: navy;
    text-align: center
}

img{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius:  12px;
}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin:15px;
    border: 1px solid black;
}